[2015-04-02 20:43] benbalter opened #3 "XML Markup for FAR 52.204-11 not properly marked as reserved"
Hello team GPO! I believe I've found an error in the markup for 48 CFR § 52.204-11 (FAR 52.204-11). Despite it being a reserved clause, it's marked up as a standard (non-reserved clause).

Depending on how you have things organized, it may be easier to access as Volume 2 of title 48 as published in the 2014 CFR.

## Steps to reproduce

1. `wget http://www.gpo.gov/fdsys/pkg/CFR-2014-title48-vol2/xm

[2015-04-24 23:58] llaplant commented on #3
Fixed. Thanks!
http://www.gpo.gov/fdsys/pkg/CFR-2014-title48-vol2/xml/CFR-2014-title48-vol2-chap1-subchapH.xml
[code]

[2015-04-25 00:01] #3 closed

[2015-04-27 13:50] benbalter commented on #3
Thanks @llaplant! :us:

[2015-10-06 15:55] navigozane opened #4 "Possible to publish (additional) XSL files?"
I see see the '[cfr.xml](http://www.gpo.gov/fdsys/bulkdata/CFR/resources/cfr.xsl)' XSL file to convert the CFR XML into "fancy" HTML. I wonder if there also exists an an XSL to convert the CFR XML into simple 'pre' XML text that you get [here](http://www.gpo.gov/fdsys/pkg/CFR-2014-title37-vol1/html/CFR-2014-title37-vol1.htm), and if so where is it? Or could it be posted here or in the CFR resource

[2015-10-06 15:58] navigozane opened #5 "Possible to publish / point out amendment processing tool?"
I've been searching for the tool to take the CFR XML and apply the Federal Registry proposed amendment XML to create the full CFR XML with amendments applied. Is that available somewhere? And / or could it be provided in the repo?

E.g.: [CFR Title 37](http://www.gpo.gov/fdsys/bulkdata/CFR/2014/title-37/CFR-2014-title37-vol1.xml) + [proposed amendments](https://www.federalregister.gov/articles/xml

[2015-10-06 16:07] llaplant commented on #4
The .htm file is created from native SGML that is used as part of the GPO's print production process. An XSL file does not exist for this process. You may also want to check out eCFR XML bulk data at http://www.gpo.gov/fdsys/bulkdata/ECFR. The eCFR is an editorial compilation of CFR material and Federal Register amendments produced by the Office of the Federal Register (OFR) and GPO. The OFR will

[2015-10-06 16:08] #4 closed

[2015-10-06 16:13] llaplant commented on #5
Title 37 with Federal Register amendments is available at http://www.gpo.gov/fdsys/bulkdata/ECFR/title-37 and the XML User Guide is available at https://github.com/usgpo/bulk-data/blob/master/ECFR-XML-User-Guide.md. Proposed rules are contained in the Federal Register data set which is available at http://www.gpo.gov/fdsys/bulkdata/FR. The User Guide is available at https://github.com/usgpo/bulk-d

[2015-10-07 16:09] navigozane commented on #5
Thanks for the feedback. Allow me to to clarify. I believe I've got the a handle on the current CFRs (at GPO) and the proposed / upcoming / archived amendments (at the Federal Registry). What and I understand how to manually / conceptually apply apply the amendment to the CFR.

What I want to do is to create an XML file in the same form as the GPO CFR that applies the amendment to the current rule

[2015-10-07 16:10] navigozane commented on #4
Thanks for the clarification.

[2015-10-07 16:39] llaplant commented on #5
A tool is not currently available from GPO to update CFR XML with proposed rules from the Federal Register. CFR SGML is updated with final rules from the Federal Register as part of the print production process. The resulting SGML is transformed to XML and made available on FDsys. You may also want to take a look at the work of http://cfpb.github.io/eRegulations/.

[2015-10-13 16:23] navigozane commented on #5
Thanks, that clears it up.

[2015-10-13 16:23] #5 closed

[2016-05-02 16:54] dwillis opened #6 "Possible to get nominations as bulk data?"
Currently I am scraping congress.gov for nomination information. It seems like there could be a nomination status XML data in the same vein as bills. Is that possible?

[2016-05-02 18:11] GullicksonK commented on #6
Both the Senate and House has data on the Clerk and Secretary websites.  Some of that data is listed here: http://xml.house.gov/resources/SelectedList-LegisBranchData.htm

There are XML and HTML data available from the Senate Secretary: http://www.senate.gov/general/XML.htm

[2016-05-02 18:48] dwillis commented on #6
Huh. I've never seen that Senate page before.

[2016-08-10 18:39] dstringvc opened #7 "XML Files Don't Contain All Versions of a Bill"
I've noticed that many of the BILLSTATUS and BILLSUM XML files don't show all versions of a bill.

For example, as of 10-Aug-2016, the collection result https://www.gpo.gov/fdsys/browse/collection.action?collectionCode=BILLS&browsePath=114%2Fhr%2F%5B1000+-+1099%5D&isCollapsed=false&leafLevelBrowse=false&isDocumentResults=true&ycord=0

shows 6 versions of H.R. 1020.
H.R. 1020 (Introduced in House)

[2016-08-10 19:41] 104PL104 commented on #7
Do not expect a one-to-one map of bill text versions to bill summaries. Sometimes a bill summary might summarize a document other than a bill text - a committee or conference report, for example. Other times, as is the case with the RFS version of HR1020, because the text is the same as the text of the EH version there is no need to produce a new summary.

In the user guide you may be interested i

[2016-08-10 19:53] dstringvc commented on #7
@104PL104 Thank you for the explanation! Very helpful!

[2016-08-10 19:53] #7 closed

[2016-09-28 13:16] Skekacs93 opened #8 "Timing of Updates"
What time have the bulk updates been being pushed to the site each morning? It seems like they've been moving progressively later.

[2016-09-28 13:56] llaplant commented on #8
Update times are different for each collection and are generally related to the timing of print publication workflows. Are you pulling a specific data set?

[2016-09-28 14:06] Skekacs93 commented on #8
I'm mainly looking at the BILLSTATUS bulk uploads, my main concern is that it seems like some updates from yesterday (27th) are not showing (eg: https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/hr/BILLSTATUS-114hr5303.xml).

[2016-09-28 14:29] llaplant commented on #8
Some of the updates initially failed for the 8 am job and we had to rerun. Looking at specific one you mentioned now...

[2016-09-29 12:32] llaplant commented on #8
@Skekacs93 how's it looking from your perspective? Looks like a number of updates to 5303 were pulled in with the noon job yesterday.

[2016-09-29 12:50] Skekacs93 commented on #8
Yup got them in, thanks for the help. Is there a reason those updates weren't in earlier in the morning?

[2016-09-29 12:56] llaplant commented on #8
I'll have to dig a little deeper on that question. Two possibilities are either the data was not available for us to consume in the 8 am job or the issues we were experiencing with 8 am job caused the file to not be updated.

[2016-09-29 13:21] Skekacs93 commented on #8
Great, thank you!

[2016-09-29 22:29] #8 closed

[2016-10-12 16:07] Skekacs93 opened #9 "Missing Updates"
HR 5578 is missing actions: GPO shows last action as "Presented to President" (https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/hr/BILLSTATUS-114hr5578.xml) when the last action is actually Signed by President.

[2016-10-12 17:37] llaplant commented on #9
Check now. Source data was not available at our 8AM update.

[2016-11-16 16:13] Skekacs93 opened #10 "Data Behind"
HR 6297 was introduced Monday (11/14), but hasn't appeared yet at https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/hr.

[2016-11-16 18:07] llaplant commented on #10
We are currently processing all existing and new 114th bill status files to make sure new fields are available for the entire data set. Data will continue to be updated throughout the day and night. Estimate is 2 days to complete all updates. Apologize for the delays.

[2017-01-11 03:45] robstryker opened #11 "/bulkdata/CFR/2016/ xml files have no style sheet"
When browsing HR's via the web interface of the bulk data (ex:  https://www.gpo.gov/fdsys/bulkdata/BILLS/115/1/hr/BILLS-115hr71rfs.xml)   the xml file will appear in a readable format thanks to the stylesheet.

When browsing https://www.gpo.gov/fdsys/bulkdata/CFR/2016/title-32/CFR-2016-title32-vol6.xml no stylesheet is included, which makes it difficult to read.

[2017-01-11 03:51] robstryker opened #12 "Improve / enhance links to USCode in cases where currently unavailable"
When looking at the following bulkdata file:

https://www.gpo.gov/fdsys/bulkdata/BILLS/115/1/hr/BILLS-115hr77ih.xml   (view source)

If we look at it, we see two different references to US Code title / sections, but only one has an external link and associated xml tags, while the other does not.

"Section 706 of title 5, United States Code, is amended—"  has no link, and no associated xml tag.  Ho

[2017-01-11 04:07] robstryker opened #13 "Question on knowing the order of revisions of a given HR bill"
While browsing:  https://www.gpo.gov/fdsys/bulkdata/BILLS/115/1/hr

I see the following entries (subset):

BILLS-115hr70eh.xml 	06-Jan-2017 03:32 	0.04 M
BILLS-115hr70ih.xml 	04-Jan-2017 05:23 	0.04 M
BILLS-115hr70rfs.xml 	07-Jan-2017 05:00 	0.04 M

While via the UI I can guess via the timestamps as to which is newest, there does not appear to be a programatic way to do so.  The suffixes (eh, ih,

[2017-01-11 04:23] robstryker opened #14 "Pretty-format XML and standardize alphabetic order of tag attributes"
Hi Again:

I was playing around with bulk data last night. I downloaded two copies of the same HR bill. My goal was to see how the bill changed over time. After downloading both copies, I noticed substantial differences when using a diff-viewer, however, no substantive change in the content had occurred.

This was primarily due to 1)  whitespace differences, and 2) Order of attributes being revers

[2017-01-11 13:23] llaplant commented on #11
Thank you for the suggestion. You may want to check out the XML file on FDsys. It includes a stylesheet. https://www.gpo.gov/fdsys/pkg/CFR-2016-title32-vol6/xml/CFR-2016-title32-vol6.xml and https://www.gpo.gov/fdsys/browse/collectionCfr.action?collectionCode=CFR. We will keep your suggestion in mind as we migrate FDsys bulk data functionality to www.govinfo.gov.

[2017-01-11 13:31] llaplant commented on #12
Thank you. I'll pass this along.

[2017-01-11 16:11] robstryker commented on #11
If there are other pages that do include the stylesheet, then it seems you are duplicating data somewhere ;)  That might be worth cleaning up or unifying in some fashion.

[2017-01-11 22:51] llaplant commented on #11
Data is being served from the same source.

[2017-01-11 23:13] llaplant commented on #13
You may want to check out the FDsys bulk data sitemaps for update dates and times. The top-level bulk data sitemap is available at https://www.gpo.gov/smap/bulkdata/sitemapindex.xml and times are in UTC.

The ZIP file is updated each time an update is made to the data set, hence all of the files inside of the ZIP file have the same timestamp.

You may also want to take a look at the BILLSTATUS dat

[2017-01-11 23:15] llaplant commented on #14
Thank you for your suggestion.

[2017-01-30 15:32] jonquandt opened #15 "Site maintenance"
We will be performing maintenance activities ‎from 10am to 2pm today. As a result, sitemaps users may notice that <lastmod> values for some existing sitemap entries could change by up to an hour.

We apologize for any inconvenience this may cause.

[2017-01-31 16:53] #15 closed

[2017-03-08 13:52] anerbovig opened #16 "Pre-Introduced XML Bill Text Associated with S. 448 (Introduced on 2/27/17)"
Hello, the XML/HTML version of S. 448 is the pre-introduced bill text, and is causing some problems: DTD: https://www.congress.gov/bill/115th-congress/senate-bill/448/text

It looks like the xml file in the bulk data repository is still the pre-introduced text, even though the bill was introduced on 2/27/17: https://www.gpo.gov/fdsys/bulkdata/BILLS/115/1/s/BILLS-115s448is.xml

The PDF version of t

[2017-03-08 15:17] llaplant commented on #16
Thank you for letting us know! We are correcting and will make the updated file available.

[2017-03-09 14:12] llaplant commented on #16
Fixed!

[2017-03-09 14:12] #16 closed

[2017-03-29 16:57] IM4KA7 opened #17 "CFR-2016-title47 is missing Vol1"
[https://www.gpo.gov/fdsys/bulkdata/CFR/2016/title-47](https://www.gpo.gov/fdsys/bulkdata/CFR/2016/title-47 )
does not contain an xml file for volume 1. I assume this contains parts 1-19 as volume 2 starts with part 20.

[2017-04-04 23:16] amarnathm opened #18 "BillStatus XML: House Amendment to another House Amendment"
In https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/113/hr/BILLSTATUS-113hr152.xml  (HR 152, 113th Congress), the xml for House Amendment 4 (HAMDT 4) merges with Senate Amendment 4 (SAMDT 4).

According to https://www.congress.gov/bill/113th-congress/house-bill/152/amendments?pageSort=asc,  HAMDT 4 is an amendment to HAMDT 3.

The xml content for the amendment has the correct description and purpose

[2017-04-05 00:00] llaplant commented on #17
Volume 1 is in the works

[2017-04-05 00:32] llaplant commented on #18
A similar issue was reported in the bill-status repository. We deployed a fix in our latest release but not all files have been reprocessed yet. I reprocessed the file you referenced above but I am on my mobile so verification of the reprocessed file is a little tricky. Could you verify that the issue is still in the reprocessed file or if the reprocess fixed the issue? If reprocess did not fix th

[2017-04-05 00:42] #9 closed

[2017-04-05 01:26] amarnathm commented on #18
Looks great! Thanks!!

[2017-04-05 02:00] #18 closed

[2017-04-19 13:56] #13 closed

[2017-04-19 13:56] #11 closed

[2017-04-19 13:57] #10 closed

[2017-05-01 14:37] PaulClark2 opened #19 "2017 XML file format of 11 CFR"
Can you tell me when the 2017 XML file format of Title 11 (11 CFR) will be available.?

https://www.gpo.gov/fdsys/bulkdata/CFR/2017

[2017-05-01 14:46] llaplant commented on #19
We anticipate early June. Please see https://www.gpo.gov/pdfs/customers/CFR_Q1_2017.pdf and https://www.gpo.gov/customers/ofr.htm.

[2017-05-01 14:51] PaulClark2 commented on #19
Thanks!

[2017-05-01 14:53] #19 closed

[2017-05-06 19:47] llaplant commented on #17
Volume 1 is available.

[2017-05-06 19:47] #17 closed

[2017-07-17 15:20] anerbovig opened #20 "S. 1517 Missing Introduced Date in Bill Text XML"
Hi there, the XML bill text for S. 1517 is missing the introduced date in the GPO file and on Congress.gov:

GPO: https://www.gpo.gov/fdsys/bulkdata/BILLS/115/1/s/BILLS-115s1517is.xml
Congress.gov:  https://www.congress.gov/115/bills/s1517/BILLS-115s1517is.xml

It's available in the TXT and PDF versions of the bill text, could you please add it to the XML format? Thanks!

[2017-07-19 12:07] llaplant commented on #20
Fixed!

[2017-07-19 12:07] #20 closed

[2017-09-28 00:02] edgarshvaykovsky opened #21 "Missing bills in the sitemap"
Hello,

We have found that there is no information about several bills in the sitemap of gpo.gov.
For example, BILLS-115s1445is.xml is introduced on https://www.gpo.gov/fdsys/bulkdata/BILLS/115/1/s
but there is no such item in sitemap https://www.gpo.gov/smap/fdsys/sitemap_2017/2017_BILLS_sitemap.xml

[2017-09-28 00:49] jonquandt commented on #21
@edgarshvaykovsky -- Thanks for bringing this to our attention. We'll take a look at it. I am going to copy/move this issue to our [sitemap repo](https://github.com/usgpo/sitemap/) for better tracking.

[2017-09-28 00:49] #21 closed

[2017-09-29 18:07] pelzhaus opened #22 "Missing bills"
I noticed today that the bulk data seems to be missing [all bills](https://www.congress.gov/search?q={%22source%22:%22legislation%22,%22congress%22:%22115%22}) introduced in the House yesterday, September 28th (34 at time of writing). I can't find any of them in BILLSTATUS page, even though actions show up on congress.gov.

I haven't seen the delay in uploading before, is this typical?

[2017-09-29 18:33] jonquandt commented on #22
This is likely due to an issue overnight (see https://github.com/usgpo/bill-status/issues/72) where one of our processing jobs hung overnight and prevented the rest from loading. We kicked off a reprocess about an hour ago and things should start flowing in normally again.

I just saw that another batch came through about 10 minutes ago, and it looks like it includes a number of the bills you link

[2017-09-29 18:41] jonquandt commented on #22
last batch added over 300 bills, and we should be all caught up for that.

[2017-09-29 18:41] #22 closed

[2017-12-28 14:29] PaulClark2 opened #23 "2018 XML file format of 11 CFR"
Do you have a tentative scheduled release date for the 2018 XML file format of Title 11 (11 CFR)?

[2018-01-02 15:59] llaplant opened #24 "We’re hiring!"
Join our team as an Innovation Specialist https://go.usa.gov/xnyqp

[2018-01-09 19:06] llaplant commented on #23
Will post here when I know. There is also an eCFR XML feed for Title 11.
https://www.govinfo.gov/bulkdata/ECFR/title-11

[2018-01-09 20:34] PaulClark2 commented on #23
Thanks!

[2018-01-17 17:12] jonquandt commented on #24
The job announcement is now closed.

[2018-01-17 17:12] #24 closed

[2018-04-10 15:43] Yelrado opened #25 "US Code - Nodes in a bulk"
Is it possible to have https://www.govinfo.gov/wssearch/rb//uscode/2016/ and all its children as a bulk?

Sorry if there's a link to this but I'm unable to find it.

Thank you in advance

[2018-04-10 16:44] jonquandt commented on #25
@Yelrado

Not currently. **Note:** We don't recommend use of the /wssearch context in this manner, as we are likely to make changes that would break anything you built against them.

We are working on some services to allow for programmatic retrieval of content and metadata across the site. More information will be forthcoming soon and we'll be notifying folks via our [developers page](https://www

[2018-04-10 17:18] Yelrado commented on #25
Thank you, @jonquandt for such a great response.

I've review the links, including other sources but I'm still finding more useful to work with /wssearch since it's all in JSON with relevant information, all in a tree.

I completely understand the risks and for now I will stick to it.

I wish you could release a bulk of all this json, though. It would make it a lot easier to work with.

Thanks aga

[2018-04-10 17:26] jonquandt commented on #25
@Yelrado - no problem. Could you expand on

? I want to get a better sense of what your use case is. Is it that you want a json that has package metadata with a set of links to the content or do you only want bulk access to the content? Is the type of information that's in our mods.xml files what you're looking for, but in a different format?

[2018-04-10 18:31] Yelrado commented on #25
The main differente between the JSON and mods.xml is how the information is structured.

It's very useful for my purpuse to have it structed like a tree:
- nodeValue
- children: [ ... ]

The mods.xml lists all the elements without an structure.

Having built-in tools to import JSON in practicaly any languange is an additional advantage.

Answering your question. I do have access to the content by

[2018-05-24 22:19] pelzhaus commented on #6
Are there any future plans to add nominations to the bulk data system? The senate XML sites do not include the full list of actions of a nomination nor reference to related votes. Thanks!

[2018-05-24 23:52] llaplant commented on #6
Not in the short term, but great feedback. Thank you!

[2018-06-11 15:18] jasonargoargo opened #27 "Amendment and amended amendment activity in bulk data respository"
What are your plans to add xml and zips of amendment activity to the bulk data repository, or add them into the existing 'BILLSUM' xml and zip files?

[2018-06-11 15:35] llaplant commented on #27
Hi Jason, you may want to check out amendment activity in the BILLSTATUS bulk data at https://www.govinfo.gov/bulkdata/BILLSTATUS/115. You may also want to take a look at the BILLSTATUS repo for more information https://github.com/usgpo/bill-status. The User Guide is here https://github.com/usgpo/bill-status/blob/master/BILLSTATUS-XML_User_User-Guide.md and this is a link to the section on amendme

[2018-06-11 15:42] jasonargoargo commented on #27
Nice to meet you, Lisa! My program parses xml data. The problem with the amendments section of the BILLSUM files is they include everything... except the actual text of the amendment. Though we do get urls (that could be parsed from), they only lead to html, not xml.

The same goes for committee and floor votes. I can parse everything but the actual vote counts, who voted in what way, etc.

And fi

[2018-06-22 16:33] jasonargoargo opened #28 "House Clerk's "User Guide and Data Dictionary" is outdated"
I'm trying to parse data from House and Senate bios from the House Clerk's and Senate Secretary's Member Data sheets (in xml format), and I noticed that the House Clerk User Guide is outdated. For instance, there are now 20 House committees instead of 19 (strangely, the Natural Resources cmte is the one missing from the User Guide), and there are 6 Joint Committees instead of 5.

Who do I talk to

[2018-06-22 16:45] GullicksonK commented on #28
Jason,

Thank you for this information.  I will make sure we update the table of committees shortly.

Let me also take this opportunity to tell you about a great finding aid on Congress.gov.  It is a committee name history. https://www.congress.gov/help/field-values/current-committees

Again, thank you letting us know about the error.

Kirsten Gullickson
Legislative Computer Systems | Office of th

[2018-06-22 17:15] jasonargoargo commented on #28
Wow, thank you for the lightning fast response!

[2018-06-22 19:39] jasonargoargo commented on #28
I forgot to mention to include codes for subcommittees, as well, please! I know it says that codes for subcommittees are not unique but that won't matter for my parsing program as I can just simply change the codes with each new congress.

[2018-07-11 16:24] slarge opened #29 "CFR-2009-title50 vol 8 is missing <TITLE> and <BMTR> sections"
https://www.gpo.gov/fdsys/bulkdata/CFR/2009/title-50/CFR-2009-title50-vol8.xml

This file is missing both the <TITLE>...</TITLE> and <BMTR>...</BMTR> sections.

[2018-07-11 16:29] llaplant commented on #29
Taking a look...

[2018-07-11 20:43] llaplant commented on #29
@slarge, we updated on bulk data. Could you verify? Thanks!

[2018-07-11 20:53] llaplant commented on #27
@jasonargoargo, this item is on our backlog; much of the source data is not yet available in XML.

[2018-07-12 01:40] slarge commented on #29
My tests confirm that the data has been corrected. Thank you!

Also, I am incredibly impressed with how quickly you addressed the problem. When I noticed the error, I did not expect that it would be solved anytime soon (let alone the same day!). Great work!

[2018-07-12 01:40] #29 closed

[2018-07-12 15:03] jasonargoargo commented on #27
I understand that you can't really give me an exact time frame for when this source data will be available for you to upload because you're depending on the deliverables of another office, but what else can be done to get this source data to you so that you can get it to us? What can I do to speed up the process?

[2018-08-15 13:26] anerbovig opened #30 "Updated Bill Status for H.R. 5515 (NDAA)"
Good morning,

The bill actions for NDAA being signed into law are up to date on the congress.gov bill page: https://www.congress.gov/bill/115th-congress/house-bill/5515?q=%7B%22search%22%3A%5B%22hr5515%22%5D%7D&r=1

But the latest file available for actions in the bulk data repository hasn't been updated since August 2: https://www.govinfo.gov/bulkdata/BILLSTATUS/115/hr/BILLSTATUS-115hr5515.xml

[2018-08-15 13:56] llaplant commented on #30
@anerbovig do you mind closing this issue here and moving it to the bill status repository https://github.com/usgpo/bill-status/issues? More bill status operational folks from our team are associated with that repository. In the mean time we will begin looking. It is likely that the bill status file is in the batch that is processing this morning. Thank you!

[2018-08-15 13:58] anerbovig commented on #30
Sure thing--thanks for pointing me in the right direction!

[2018-08-15 13:58] #30 closed

[2018-09-27 03:39] fgregg opened #31 "Possible to get committee hearings as bulk data?"
Hi! Would it be possible to get committee hearings (CHRG) as bulk data?

Thanks so much!

[2018-10-02 21:04] fgregg commented on #31
I just started scraping the API. It'll probably take a few days. Thanks!

[2018-12-05 21:41] AmitElhanan opened #32 "trying to grab FR images"
Hi there, I am trying to grab FR images using image address made available when right clicking the images.

using https://www.federalregister.gov/documents/2018/12/06/2018-26365/airworthiness-directives-the-boeing-company-airplanes as an example I get a url of https://s3.amazonaws.com/images.federalregister.gov/ER06DE18.000/original.png?1543928713 but the image is very dark and when I try to save

[2018-12-05 22:02] Efferon commented on #32
If you inspect the source code you see the page background color is set to #0e0e0e; and hence why it appears dark.  To view in a browser, set the background color.  The image itself has a transparent background; which means if you right-click image and download then open in a picture editor everything looks proper.

[2018-12-06 00:50] AmitElhanan commented on #32
@Efferon thank you- I swear I tried it before and the image was still being saved as black but then on a different computer it saved just fine. I will try it again tomorrow on the original computer. Thanks again

[2018-12-07 21:08] #32 closed

[2018-12-07 21:08] AmitElhanan commented on #32
I think it's been solved.

[2018-12-07 21:19] jonquandt commented on #32
@AmitElhanan @Efferon  -- sorry for the delay in getting back to you. Since you're using the federalregister.gov resource rather than the govinfo one, it may be best to reach out to them. I think the black background is just due to how Amazon S3 file previews are handled, and as @Efferon mentioned, much of the file is transparent.

That being said, here are the equivalent FR resources from our sit

[2018-12-07 21:21] #31 closed

[2019-01-04 16:37] AmitElhanan opened #33 "XML files available on https://www.govinfo.gov/bulkdata/BILLS/116/1/hres but not on congress.gov"
I see resolutions on https://www.govinfo.gov/bulkdata/BILLS/116/1/hres but those same XML files are not yet available on congress. gov

E.G.

https://www.govinfo.gov/bulkdata/BILLS/116/1/hres/BILLS-116hres3eh.xml but XML not on https://www.congress.gov/bill/116th-congress/house-resolution/3/text. (PDF is missing too even though link is available)

[2019-02-12 15:54] anerbovig opened #34 "Subcommittee Names in 116th Bill Status use 115th Committee Names"
Hello, in some of the bill status files on govinfo.gov, old subcommittee names/codes are still being associated with subcommittees that have reorganized/changed their names for the 116th Congress.

H.R. 574 was referred to the "Subcommittee on Oversight, Management, and Accountability" (116th) and that's what the text displays, but the committee association is still the "Oversight and Management E

[2019-02-12 17:32] llaplant commented on #34
@anerbovig legislative data organizations will coordinate on resolution. Short-term work around is to use the `<text>` field instead of the `<name>` field.

For future items related to BILLSTATUS, could you submit issues to the [Bill Status Repository]
(https://github.com/usgpo/bill-status/issues)?

Thanks!

[2019-02-12 17:34] anerbovig commented on #34
Hi Lisa,

Sure thing--thank you, and thanks for the redirect to the preferred board.

[2019-02-28 02:52] JSimoni42 opened #35 "ECFR Title 7 - Part 1773 - Subparts Duplicated?"
Relatively new at this, so apologies for any phrasing mishaps.

I just downloaded ECFR title 7 from https://www.govinfo.gov/bulkdata/ECFR/title-7/ECFR-title7.xml and have a question regarding Part 1773 - Policy on Audits of RUS Borrowers and Grantees. It seems that the section headers begin at 1773.1 and increase up to 1773.49, as expected. However, there is another <DIV6> tag containing another S

[2019-02-28 23:06] llaplant commented on #33
Verified files are available on both govinfo and congress.gov.

[2019-02-28 23:06] #33 closed

[2019-02-28 23:20] llaplant commented on #35
@JSimoni42 the eCFR bulk data available at https://www.govinfo.gov/bulkdata/ECFR is created from the data that powers https://www.ecfr.gov. I see the anomaly is also present there, and I have contacted the team from the Office of the Federal Register to investigate. Thank you for bringing this to our attention!

[2019-03-05 21:14] AmitElhanan opened #36 "https://www.govinfo.gov/bulkdata/BILLS/116/1/s/BILLS-116s309is.xml wrong congress"
https://www.govinfo.gov/bulkdata/BILLS/116/1/s/BILLS-116s309is.xml says that it is 115th congress instead of 116th.

Data has made it to https://www.congress.gov/bill/116th-congress/senate-bill/309/text as well

[2019-03-06 14:07] llaplant commented on #35
@JSimoni42 This has been corrected on eCFR.gov and should now be up to date in Bulk Data. Please verify. Thanks!

[2019-03-06 14:11] llaplant commented on #36
S. 309 IS was printed with the incorrect Congress designation. The Senate has decided not to star print S. 309 IS.

[2019-03-06 14:11] #36 closed

[2019-03-08 20:48] mooncalfskb opened #37 "sitemapindex empty for bulkdata"
Hello. We are relying on this index page to determine what files to download but it is empty today. do you know what's up?
https://www.govinfo.gov/sitemap/bulkdata/BILLSTATUS/sitemapindex.xml

The sub pages that were referenced on the sitemapindex appear to still be working:
example: https://www.govinfo.gov/sitemap/bulkdata/BILLSTATUS/115s/sitemap.xml

thanks
Sherrod

[2019-03-08 20:50] jonquandt commented on #37
thanks for reporting this issue. I'll look into it and let you know when it's resolved.

[2019-03-08 20:52] mooncalfskb commented on #37
thanks!

[2019-03-08 21:14] jonquandt commented on #37
We've restored an older copy of the sitemaps. I will go ahead and republish a couple of billstatus for the most recently updated billtypes in the 115th and 116th Congress. that should at least update the last modified date on the index and let you know that you should crawl them. The regular billstatus job will also trigger updates.

Finally, coming soon  -- access to BILLSTATUS and ECFR bulkdata

[2019-03-08 21:17] mooncalfskb commented on #37
Great!

[2019-03-12 10:31] JoshData commented on #37
Any update here? https://www.govinfo.gov/sitemap/bulkdata/BILLSTATUS/115hr/sitemap.xml has been blank for a few days.

[2019-03-12 10:34] JSimoni42 commented on #35
@llaplant Apologies for the delay and thanks for the prompt response. Title 7 looks great to me! Thanks for your help.

[2019-03-12 10:48] jonquandt commented on #37
Let me look into that. I must have missed that one, though the others all had data in them. I’ll get back to you this morning

[2019-03-12 15:03] jonquandt commented on #37
@JoshData - that sitemap is now restored. We're looking into how to prevent that from happening in the future. We set the update time to be this morning for all the billstatus files to ensure that no updates are missed. This does mean that there are now about 7300 billstatus packages reporting as new/updated.

[2019-03-12 15:14] JoshData commented on #37
Thanks! I love that there are 7,300 billstatus packages to update. A few years ago there were zero! :)

[2019-03-13 21:05] jonquandt commented on #37
reopening this issue to resolve the missing www.

[2019-03-13 21:16] jonquandt commented on #37
@JoshData - We updated the sitemap for 115hr to include www. in the `loc` element.

[2019-03-14 15:27] #37 closed

[2019-03-14 15:27] jonquandt commented on #37
Closed based on https://github.com/unitedstates/congress/issues/239 comments

[2019-03-15 20:18] JoshData commented on #37
Thanks!

[2019-03-16 04:23] jox58 opened #38 "Bills Earlier Than 113 Congress"
The Congressional Bills, Bill Status and Bill Summaries only go back to 2013 (the 113th Congress). Are there any plans to add earlier archives of legislation, including their amendments and votes?

[2019-03-18 16:36] llaplant commented on #38
@jox58 There are no plans at this time, but thank you for your suggestion. I will keep this issue open with an "enhancement" label and bring your suggestion to our legislative data partners.

[2019-03-30 19:49] mooncalfskb commented on #37
Thanks so much!

[2019-04-10 12:10] #35 closed

[2019-06-04 17:42] knowtheory opened #39 "500 error on Bulk Data Repository Congressional Bill Test Page"
Thanks for this Bulk Data Repository!

I was trying to check out [the test site/page](https://www.govinfo.gov/bulkdata/BILLS/test) linked to in [the Bulk Data Repository for Congressional Bills](https://www.govinfo.gov/bulkdata/BILLS), but it appears to be throwing a 500 error, and i just wanted to make certain to report it.

[2019-06-04 17:58] jonquandt commented on #39
@knowtheory - thanks for reporting this. The directory has been deleted.

[2019-06-04 17:58] #39 closed

[2019-08-02 02:09] jox58 commented on #38
I noticed [propubica.org](https://www.propublica.org/datastore/dataset/congressional-data-bulk-legislation-bills) has extended their congressional bills data back to the 93rd congress --1973

[2019-08-02 02:09] #38 closed

[2019-08-14 14:28] llaplant opened #40 "We're hiring!"
Join our team in GPO's Office of Programs, Strategy, and Technology!
Program Planner (Recent Graduate) https://www.usajobs.gov/GetJob/ViewDetails/542252400
This job will close when we have received 100 applications which may be sooner than the closing date.
Please help spread the word!

[2019-08-14 14:32] michaelblyons commented on #40
First time I've seen a job opening as a GitHub issue. Cute.

[2019-09-05 16:54] llaplant commented on #40
The job announcement is now closed.

[2019-09-05 16:54] #40 closed

[2019-09-13 18:59] slarge opened #41 "XML error in 2018 CFR (title 50 vol12 section 648)"
https://www.govinfo.gov/bulkdata/CFR/2018/title-50/CFR-2018-title50-vol12.xml

I believe the node following node is incorrect:

[code]
It should be "§§ 648.57-648.5**8**"
[code]

[2019-10-22 20:06] Tom1247 opened #42 "Bulk Data XML Pages Loading Very Slow"
We have a number of applications that rely on the content of the bulk data XML pages containing US Congressional legislation information. One app in particular normally takes ~20 minutes to run, and did so on Sunday October 20 in the afternoon. Sunday night it took ~2 hours, Monday October 21 (yesterday) it took ~4 hours, and today it has been running for more than six hours and has not completed.

[2019-10-22 20:16] jonquandt commented on #42
@Tom1247  -- sorry to hear you're having trouble accessing content from the bulk data repository. I'm not aware of any performance issues at the moment, but we're digging into

Can you provide a little more information?

- Which collections/directories are you crawling?
- Are you pulling the whole collection or individual items as they update?
- Are you accessing via the bulkdata site directly, th

[2019-10-22 20:21] Tom1247 commented on #42
@jonquandt Thanks for the prompt attention to this matter. We pull individual items - https://www.govinfo.gov/bulkdata/BILLSTATUS/116/hr/BILLSTATUS-116hr5.xml - for example as our apps determine our data may need updated. Once we have the XML we parse it within our code (no further calls to the same govinfo.gov page) and update our database accordingly.

[2019-10-22 20:29] jonquandt commented on #42
@Tom1247 - got it.

I see that over the weekend there appears to have been a large-scale update to the BILLSTATUS collection. Looks like there were 3482 updates/additions since the 19th, when there are usually only a few hundred on a given day.

https://api.govinfo.gov/collections/BILLSTATUS/2019-10-19T00:00:00Z?pageSize=100&offset=0&api_key=DEMO_KEY

when you've seen larger updates in the past, d

[2019-10-22 20:33] Tom1247 commented on #42
@jonquandt We've seen some minor slow downs on rare occasions in the past, but nothing like this one. Maybe a ~40 minute run time for this one app instead of the typical 20 or so. Also, given we are only pulling a single item from the repository at a time would an update such as you speak of impact the load times we would see for a single page?

[2019-10-22 20:38] jonquandt commented on #42
@Tom1247 - I misunderstood - you're seeing slow load times for individual files, not the overall job.

When you try to access that file from your computer or another device (not from your server running the job) , are you seeing the slow load times?

I'm unable to recreate slow load times when accessing from multiple devices, both internal and external to our network.

[2019-10-22 20:48] Tom1247 commented on #42
@jonquandt First, I'm seeing the overall job take far, far longer than typical. On Sunday afternoon (after the large update you spoke of) we probably pulled ~6,000 bulk data XML pages and parsed them in ~20 minutes; today, that same approximate number of page requests is still running after 8 hours. If I simply drop the URL into a browser on any number of machines I'm seeing 5 to 6 seconds per pag

[2019-10-22 20:57] Tom1247 commented on #42
@jonquandt Also, FWIW, our empirical baseline is solid - same code, same server, same database, same network, same resources (which are substantial) - and we are not seeing any indication of internal issues or bottlenecks that could cause the slow down. Thanks!

[2019-10-23 12:36] Tom1247 commented on #42
@jonquandt It appears that things have returned to normal. Our apps are running at expected duration and even manual loading of individual XML pages is far, far faster - and more typical - this morning.

[2019-10-23 16:35] #42 closed

[2019-10-23 16:54] jonquandt commented on #42
Thanks for the update,  @Tom1247  - last night, we identified an issue with some requests being delayed for some users due to a configuration issue. We resolved the configuration issue and are monitoring for now while we look at additional long-term solutions.

[2019-10-23 17:15] Tom1247 commented on #42
@jonquandt We direct crawl the individual pages and things are definitely back to normal. Thanks!

[2019-10-23 17:30] jonquandt commented on #42
got it -- you may also see a slight performance boost by going to the /xml endpoint for that -- it's the same content and format of the xml pages that are served at /bulkdata/BILLSTATUS, but without the stylesheets and other resources being served.

https://www.govinfo.gov/bulkdata/xml/BILLSTATUS

from some spot checking, it appears that the stripped-down xml version usually comes back in half a s

[2019-10-23 19:43] Tom1247 commented on #42
@jonquandt Thanks for the tip but we're already using the raw XML and you're right about the load times.

[2019-11-01 11:46] rhdunn opened #44 "XSL error in billres.xsl isQuoteMustClose template with Saxon 9.9"
Hi,

When trying to use the Saxon 9.9 XSLT processor to transform a bill (e.g. https://www.govinfo.gov/content/pkg/BILLS-116hr823rh/xml/BILLS-116hr823rh.xml) using billres.xsl from https://www.govinfo.gov/bulkdata/BILLS/resources, I am getting the following error:

    [XPTY0004] A sequence of more than one item is not allowed as the first argument of fn:name() (<subsection>, <subsection>)

[2019-11-01 12:38] llaplant commented on #44
Thank you for letting us know about this. I’ll investigate and report back on the resolution.

[2019-11-01 12:51] rhdunn commented on #44
There are other errors after fixing this one. Do you want me to report them as separate issues, add them here, or let you investigate the issues?

[2019-11-01 12:53] llaplant commented on #44
If possible, could you add them here? Thank you!

[2019-11-01 12:57] rhdunn commented on #44
[code]

This issue is present in 2 places -- line 10010 and line 10015. It is caused by the expression `child::enum = not('')`. The `not('')` evaluates to `true()`. The check should be `not(child::enum = '')`.

[2019-11-01 13:08] rhdunn commented on #44
There is a typo on line 13749 -- `not(parent::toc/@chabged = 'not-changed')` should be `not(parent::toc/@changed = 'not-changed')`.

__NOTE:__ The typo `@chabged` is made 6 times in the `billres-details.xsl` file.

[2019-11-01 13:37] rhdunn commented on #44
[code]

This is because `ancestor::*/@reported-display-style` is checking all ancestors, not just the first. If the first matching ancestor is the one that should be used, then using `ancestor::*[1]/@reported-display-style` should be used. If any matching ancestor is the one that should be used, then using `ancestor::*[contains(@reported-display-style, 'bracket')]` should be used.

__NOTE:__ This

[2019-11-01 13:48] rhdunn commented on #44
[code]

This is due to the `local-name(parent::*/following-sibling::*) != 'after-quoted-block'`. The same approach as described above can be used for fixing this issue, e.g. `parent::*/following-sibling::*/local-name() != 'after-quoted-block'`

[2019-11-01 14:44] rhdunn commented on #44
Fixing the issues described above are enough to make Saxon 9.9 process that XML file. I'm not sure if there are any other errors with other documents. For update 3 of the `fn:contains` issue, I ended up performing a search to locate the lines to update, so I don't know which of those are impacted by the XML document.

[2019-11-01 15:23] rhdunn commented on #44
Also note that in XSLT 2.0, the `disable-output-escaping` attribute on `xsl:text` is optional, and is not supported on all XSLT implementations. See https://www.w3.org/TR/xslt20/#err-XTRE1620.

[2019-11-03 14:53] tuii20 opened #45 "help"
help

[2019-11-03 15:00] tuii20 commented on #45
help

[2019-11-03 20:23] #45 closed

[2019-11-07 10:23] rhdunn opened #46 "Rendering/display issues using fedregister.xsl."
Hi,

[2019-11-07 10:45] rhdunn commented on #46
When rendering the `CHED` elements (e.g. the `maintemp1` template on lines 740-749), the stylesheet is using `<xsl:value-of select="."/>`. However, the XML (e.g. https://www.federalregister.gov/documents/full_text/xml/2019/11/01/2019-23800.xml, line 2345-2347) can contain:

[code]

This gets rendered incorrectly as:
[code]

The `<xsl:value-of select="."/>` should be replaced with `<xsl:apply-templ

[2019-11-07 14:11] rhdunn commented on #46
The table of contents does not get rendered by the stylesheet but is present in the HTML and PDF documents. That is, the `FP` elements in the `EXTRACT` element of the table of contents are not rendered. The title (a `HD` element) is rendered.

This also includes other `FP` elements that are not email addresses. For example, the "50.40(a) (19 respondents)" text after "Estimated average hours per re

[2019-11-07 14:34] rhdunn commented on #46
The following `FP` element template adds the `SOURCE` attribute to the classes so they can be styled correctly:
[code]

This results in the `FP EXTRACT-FP EXTRACT-FP-2` class for level 1 ToC elements, and `FP EXTRACT-FP EXTRACT-FP1-2` for the level 2 elements.

The A-Z elements can then be indented using the following CSS:
[code]

[2019-11-07 15:26] rhdunn commented on #46
The third level table of contents headings (1, 2, etc.) are not identifiable by using `FP/@SOURCE`. However, something like the following will work:
[code]
and the following CSS:
[code]

[2019-11-07 16:55] rhdunn commented on #46
The `.SUPLINF-HD3` class CSS element is missing a `display:block;` style. This likely applies to other `-HD3` based classes.

[2019-11-07 18:08] jonquandt commented on #46
Thanks for letting us know about this, @rhdunn. We'll need to look into this to see that those proposed changes won't have a negative impact elsewhere.

[2019-11-11 17:22] rhdunn commented on #46
The `GPOHEADERS` and `GPOH2HEADERS` ids are generated multiple times, which is invalid -- ids should be unique. Therefore, they should be classes. Specifically, the CSS should be:
[code]
while the `maintemp1` template should be:
[code]
and the `h2` template should be:
[code]

[2019-11-12 11:22] rhdunn commented on #46
The headers in the GPO tables do not have leftmost/rightmost borders in both the PDF and HTML versions of the rules. This can be achieved (with the change from `id` to `class`) using the following CSS:
[code]

The table body borders also don't match the PDF or HTML versions. I haven't investigated this yet.

[2019-11-12 11:27] rhdunn commented on #46
The `GPOTABLE` class should have the `display:table;` style instead of the `display:block;` style. This is preventing the `width:100%` style from having an effect.

[2019-11-12 13:47] rhdunn commented on #46
For tables like "Table IV—Timeline for Initial Categorizations and Reporting Under the Final Rule" in https://www.federalregister.gov/d/2019-23662, some of the columns should span 2 columns, but are only spanning 1 column.

The fix for this is to add the following to the `MyENT` template after the class attribute:
[code]

Additionally, the `ROW` template needs to be adjusted so that the `NumOfENT`

[2019-11-12 14:01] rhdunn commented on #46
I've checked another document and it has the `A` attribute set to `L01`, so the following will be needed instead:
[code]
and
[code]

[2019-11-12 14:29] rhdunn commented on #46
The table cells in the HTML and PDF documents do not use hashed borders. Instead, they have solid black borders down the middle and at the bottom. This can be achieved using the following CSS:
[code]

Additional borders appear to be governed by the `RUL` attribute on the `ROW` element. I don't currently have styles for these, so they would need to be provided before using this change.

[2019-11-12 15:44] rhdunn commented on #46
The rules I have currently worked out are:

[2019-11-12 16:04] rhdunn commented on #46
The `EXPSTB` attribute on a `ROW` element looks like it is applying to the colspan logic for an `ENT` element. Therefore, the `NumOfENT` variable in the `ROW` template should be calculated as:
[code]
and the `ENT` element `td/@colspan` attribute as:
[code]

[2019-11-12 16:10] rhdunn commented on #46
With the above changes, Table 11 in https://www.federalregister.gov/d/2019-21250 is rendering almost correctly. The only issue is that on the HTML page the "Annual hours" and "Wage rate" columns don't have left/right borders between them (i.e. either side of the column with the '×' characters).

[2019-11-12 19:06] jonquandt commented on #46
@rhdunn - thanks for the detailed feedback.

We uploaded a new version of the fedregister.xsl stylesheet that addresses the issues that you raised on Friday:

- [ ] [`CHED` elements](https://github.com/usgpo/bulk-data/issues/46#issuecomment-551025595)
- [ ] [`FP` elements 1](https://github.com/usgpo/bulk-data/issues/46#issuecomment-551095584)
- [ ] [`FP` elements 2](https://github.com/usgpo/bulk-d

[2019-11-12 19:24] rhdunn commented on #46
Thanks for the update. I'll take a look tomorrow.

[2019-11-13 11:09] rhdunn commented on #46
The update looks good. Thanks.

[2019-11-13 15:59] rhdunn commented on #46
Images and formulas (`GID` and `MATH` elements) are not displayed correctly, despite the images for the FR documents being available on the HTML pages. They can be rendered by using the following:
[code]
instead of the existing "Please see PDF for image/formula" messages.

__NOTE:__ This also applies to the CFR documents, but I don't know where those images are located, or if they are available on

[2019-11-13 16:07] rhdunn commented on #46
The rendering of the subscript/superscript elements in e.g. the Q and E variables on the https://www.federalregister.gov/documents/2017/01/05/2016-30004/energy-conservation-program-test-procedures-for-central-air-conditioners-and-heat-pumps#page-1560 document are not rendered as such in the stylesheet, but are in the HTML.

[2019-11-14 17:12] rhdunn commented on #46
Those are all the issues I am aware of, although I haven't done a complete review of the XSLT rendering compared to the PDF and HTML output. As such, I don't expect to add any more rendering issues here.

[2019-12-02 10:56] rhdunn commented on #46
In the latest update, the `class="GPOHEADERS"` change in the `maintemp1` template (line 764) introduced a bug -- the class attribute is duplicated. The template should be:
[code]

The other changes don't have that issue.

[2019-12-02 12:06] jonquandt commented on #46
Thank you for the feedback. We’ll take a look and adjust.

[2019-12-23 17:09] anerbovig opened #47 "XML files available on Govinfo.gov, not on Congress.gov"
Hello, I'm seeing a similar issue to this ticket: https://github.com/usgpo/bulk-data/issues/33

There are 92 new bill versions that have the PDF versions on the congress.gov bill pages, but do not have the XML version available that's in the bulk data repository on govinfo.gov. Is this the best place to flag the issue and have the XML versions of the text added to the congress.gov bill pages? Than

[2019-12-28 15:06] Dman9296 opened #48 "LFiles avableXM"

[2019-12-29 01:29] #48 closed

[2020-01-07 14:32] jonquandt commented on #47
Good morning. This appears to have been resolved as part of normal processing. Sorry for the delay in followup.

[2020-01-07 14:32] #47 closed

[2020-01-07 18:47] jonquandt commented on #47
It appears that this has been resolved as part of normal processing. There is a delay that can be expected between the xml becoming avialble on govinfo bulkdata and becoming avialable on the congress.gov site due to the need for Congress.gov to ingest the govinfo content into their system.

[2020-02-17 14:50] racheljohns opened #51 "CFR Issues"
Hello! My name is Rachel Johns, I'm a product Manager at Fastcase. We have been looking through the CFR XML files and have noticed a few issues. I was hoping you could potentially help us with these?

1.	**Issue One: Sections Incorrectly Grouped**

For Title 47, 90.603-90.1338 all appear to be incorrectly nested under 60.601. Here is how it appears on Fastcase using the Bulk Data:

https://fc7.fas

[2020-02-18 15:25] llaplant commented on #51
Hi Rachel, thank you for the detailed information!

We are investigating to see if issue 1 above is related to the conversion to XML or the source SGML data. I'll get back to you on this one.

Regarding the images referenced in issue 2, please check out the ZIP file of images available in  https://www.govinfo.gov/bulkdata/ECFR/title-49. Each CFR Title folder contains a ZIP file of images.
For exam

[2020-02-18 16:04] llaplant commented on #51
Hi Rachel, I have more information about issue 1.

Please note that the site which is referenced in your message, gov.ecfr.io, is not a Government site that is maintained by GPO/OFR.

The eCFR Government website that maintained by GPO/OFR is www.ecfr.gov, and XML bulk data is available on GPO's govinfo at www.govinfo.gov/bulkdata/ECFR.

Regarding issue 1, the nesting in the XML appears to be corre

[2020-02-19 19:37] racheljohns commented on #51
Hello @llaplant thank you for your detailed response on this!

I will relay this information back to our team. Thank you again!

[2020-02-28 05:53] chrisbabayans opened #52 "Clearly define valid paramaters"
- collections
- collection
- packages
- packageId
- packageiD
- packageid
(find a better name for these three package id variations)
- summary
- contentType
- granules
- granuleId
- startDate/endDate format defined

This will make it easier for people to send queries.

[2020-02-28 14:45] jonquandt commented on #52
@chrisbabayans thanks for the feedback. I'll review the /docs page again and cleanup the differences

going to transfer this to the api repo.

[2020-03-04 18:53] racheljohns commented on #51
Hello @llaplant ,

I spoke to our team about this, and we believe the above is referring to the ECFR? I actually was referring to the CFR Annual Edition, I apologize for the mistake.

Do you know if the same thing applies in that version of the CFR? The data our team has looks like this:

![image](https://user-images.githubusercontent.com/54418239/75912488-4b630880-5e1f-11ea-85aa-087e69ab0f43.png)

[2020-03-04 19:03] llaplant commented on #51
@racheljohns could you send me a link to the CFR source data XML file you are using from govinfo?  I want to make sure we are discussing the same file.

ECFR files can be found here: https://www.govinfo.gov/bulkdata/ECFR

CFR Annual edition files can be found here: https://www.govinfo.gov/bulkdata/CFR

[2020-03-05 22:56] racheljohns commented on #51
Hello @llaplant,

Thank you for all your help! We are using the Annual edition files at https://www.govinfo.gov/bulkdata/CFR.

[2020-03-06 15:37] llaplant commented on #51
Hi @racheljohns, could you verify this is the specific file you are using?

https://www.govinfo.gov/bulkdata/CFR/2019/title-47/CFR-2019-title47-vol5.xml

Section 90.623:
![image](https://user-images.githubusercontent.com/11219688/76096042-6060a880-5f93-11ea-914d-0b6da506d74d.png)

PDF for reference on structure:
https://www.govinfo.gov/content/pkg/CFR-2019-title47-vol5/pdf/CFR-2019-title47-vol5.pd

[2020-03-10 15:54] racheljohns commented on #51
@llaplant on our side some of the tags have been converted but based on the files I have in front of me they appear to be based on this specific file yes!

[2020-03-10 15:59] llaplant commented on #51
@racheljohns does the structure represented in the XML file and screenshot above answer your questions or do you need additional information?

[2020-03-10 20:48] racheljohns commented on #51
@llaplant is it possible for the developers I'm speaking with to reach out to you directly? Is there an email I could give to them? They can probably explain what they are having trouble with better than I can!

[2020-03-16 18:41] llaplant commented on #51
@racheljohns is it possible for developers to join the conversation here?

[2020-03-17 20:20] racheljohns commented on #51
@llaplant I have informed them and sent them a link to this issue! Thank you so much for your help!

[2020-03-27 15:04] gholker commented on #51
Thanks, @llaplant!

I took a look at the original XML file (https://www.govinfo.gov/bulkdata/CFR/2019/title-47/CFR-2019-title47-vol5.xml).

As best I can tell, the issue is with sect. 90.621. It has an `EDNOTE` that doesn't close in the correct spot. On line 69,451 it opens. It contains revised text of 90.621. I suspect it was intended to be closed at line 69,642. Since it does not close, the next

[2020-04-02 21:21] llaplant commented on #51
@gholker, great catch!

Apologize for the delay.

Took some time to troubleshoot, correct in source data, and make available in systems.

Updated file is now available.

https://www.govinfo.gov/bulkdata/CFR/2019/title-47/CFR-2019-title47-vol5.xml

Here's what we did in section 90.621.

Opening Before Fix with `<EDNOTE><SUPERSED><SECTION>`:

<img width="499" alt="Capture1-before" src="https://user-

[2020-04-03 15:34] gholker commented on #51
Thanks, @llaplant! Did a diff and it looks good to me 👍

[2020-04-03 16:31] gholker commented on #51
@llaplant, I went further and wrote a script to look for this type of issue. You can find it here: https://gist.github.com/gholker/cc978acc387a3d8fe52472182277f5e5

Essentially it searches for `SECTION`s that contain other `SECTION`s whose `SECTNO`  doesn't match the parent's `SECTNO'. The full output is here:
[output-2019.txt](https://github.com/usgpo/bulk-data/files/4428591/output-2019.txt)

The

[2020-04-03 17:17] llaplant commented on #51
Thanks! We'll take a look.

[2020-04-14 15:01] raghuragz47 opened #53 "COVID -19 Regulations Missing"
Hi Team,

We see the COVID-19 Regulation in ECFR Website. Below are the links for reference.

https://gov.ecfr.io/cgi-bin/searchECFR?ob=r&idno=&q1=coronavirus&rgn1=Section&op2=and&q2=&rgn2=Section&op3=and&q3=&rgn3=Section&SID=70fd0c6e7b4e455aee7e767246b099cf&mc=true
https://gov.ecfr.io/cgi-bin/searchECFR?ob=r&idno=&q1=COVID&r=&SID=2a7338cb81f747e3aab8e38266bb4d1f&mc=true

But the same data is not

[2020-04-14 17:07] raghuragz47 commented on #53
Hi Jon,

I am looking for those updates in XML Bulkdata.

[2020-04-14 17:13] raghuragz47 commented on #53
Hi Jon,

When I look at the below link. I don't see the revised versions of the titles 29, 17, 9, 42, 44.

https://www.govinfo.gov/bulkdata/CFR/2020

So I would like to know when these will be reflected in the link (https://www.govinfo.gov/bulkdata/CFR/2020).

[2020-04-14 17:58] jonquandt commented on #53
@raghuragz47 - the /CFR endpoint for bulk data is for the annual edition of the CFR. Updates that reflect these new COVID-19 related regulations will appear in the 2020 editions published throughout the year in 2021.

The govinfo bulk data equivalent to the eCFR site is available at:
Https://www.govinfo.gov/bulkdata/ECFR.

These ECFR bulk data files are the XML equivalents of the ECFR site and rep

[2020-04-15 04:45] Cyrus-eng commented on #53
Hello my name is not Jon I have no idea who you are and there is no way for
me to identify you . please check you the intended email address that you
are trying to reach and amend accordingly thank you

On Tue, Apr 14, 2020, 10:13 Raghunath Nagamalli <notifications@github.com>
wrote:

[2020-04-16 11:09] jonquandt commented on #53
@raghuragz47 - please let me know if you need any additional information regarding the ECFR bulkdata updates. Otherwise, I'll be closing this issue at the end of the day tomorrow.

[2020-04-17 11:02] raghuragz47 commented on #53
Hi Team,

Thanks for the response. I see a difference in xml formats from CFR and ECFR. Is it possible to share .xsd files for both CFR and ECFR.

Thanks,
Raghu

[2020-04-18 03:25] jonquandt commented on #53
@raghuragz47 -- the CFR bulk data XSD is located here:
https://www.govinfo.gov/bulkdata/CFR/resources/CFRMergedXML.xsd

Currently, we don't have a publicly available version of the eCFR xsd.

Until that becomes available, you may wish to review the [eCFR XML user guide](https://github.com/usgpo/bulk-data/blob/master/ECFR-XML-User-Guide.md)

and the [CFR XML User Guide](https://github.com/usgpo/bul

[2020-04-18 03:25] #53 closed

[2020-04-25 02:37] kaitlin opened #54 "Title 42, 2008 annual edition bulk data is missing volume 1 file"
All of the annual editions of title 42 seem to have a file for each volume (1-4, or 1-3 depending on the year) except 2008.

https://www.govinfo.gov/bulkdata/CFR/2008/title-42

Is this intentional or an oversight?

Thanks in advance for looking!

[2020-04-26 17:01] gunnerwholelife opened #55 "Misplaced Appendix in CFRs"
I am looking to parse the CFRs and break them down in a tree like structure using the [bulk CFR data.](https://www.govinfo.gov/bulkdata/CFR)

I came across various instances where the provided xml structure doesn't match up with the one provided on [govinfo/app](https://www.govinfo.gov/app/collection/CFR)

For eg : -
[2019 title 2 xml ](https://www.govinfo.gov/bulkdata/CFR/2019/title-2/CFR-2019-ti

[2020-04-27 18:33] gunnerwholelife opened #56 "Misplaced Parts 703-745 in CFR Title 12"
I am looking to parse the CFRs and break them down in a tree like structure using the bulk CFR data.

For eg : -
[2019 title 12 xml vol 7](https://www.govinfo.gov/bulkdata/CFR/2019/title-12/CFR-2019-title12-vol7.xml) -
Please refer to attached pic -
<img width="561" alt="Screen Shot 2020-04-27 at 10 34 19 AM" src="https://user-images.githubusercontent.com/25061683/80406913-aa6e5800-8879-11ea-9b40-

[2020-04-28 12:47] jonquandt commented on #56
Reviewing this one now.

[2020-04-28 12:49] jonquandt commented on #55
@gunnerwholelife - thanks for bringing this to our attention. We're looking at this now.

If you have a list of examples, that would help us to identify and resolve the issue.

[2020-04-28 15:05] jonquandt commented on #54
Good morning,

Volume 1 of title 42 in 2008 is now available via bulk-data and the govinfo API.

https://www.govinfo.gov/bulkdata/CFR/2008/title-42

https://www.govinfo.gov/bulkdata/CFR/2008/title-42/CFR-2008-title42-vol1.xml

[2020-04-28 15:43] gunnerwholelife opened #57 "CFR 2019 Title-3 chapters misplaced"
I am looking to parse the CFRs and break them down in a tree like structure using the bulk CFR data.

[2019 title 3 xml vol 7](https://www.govinfo.gov/bulkdata/CFR/2019/title-3/CFR-2019-title3-vol1.xml) -
In all the other title xmls, all the chapter/subchapter/section data is within the `title` tag but in case of Title-3, it's misplaced. The `title` tag contains only the following information -

[

[2020-04-28 17:04] gunnerwholelife commented on #55
Here's few of the examples ->

All appendix within [Title-2 Subtitle A Chapter II Part 200](https://www.govinfo.gov/app/collection/cfr/2019/title2/subtitleA/chapterII/Subchap/part200) are misplaced to [Title-2 Subtitle A Chapter II Part 200 Subpart F - Audit Requirements](https://www.govinfo.gov/app/collection/cfr/2019/title2/subtitleA/chapterII/Subchap/part200/subpartF/Subjgrp)

Appendix - [Title

[2020-04-28 18:08] jonquandt commented on #55
@gunnerwholelife  -- I think those references make sense to me. We'll take this back. I'm not sure how far back we will be able to go. Will learn more as we dig into this further.

[2020-04-28 20:03] kaitlin commented on #54
Wow, awesome turnaround time! Thank you so much!

[2020-04-28 20:03] #54 closed

[2020-04-30 03:47] kaitlin opened #58 "42 CFR for 2007 missing volume 3 in the bulk data"
Hello again,

Similar to my earlier issue, I also discovered 2007 for 42 CFR is missing volume 3: https://www.govinfo.gov/bulkdata/CFR/2007/title-42

Thanks!
Kaitlin

[2020-05-11 20:54] gunnerwholelife commented on #57
Hey, Any updates on this ?

[2020-05-11 20:54] gunnerwholelife commented on #56
Hey, Any updates on this ?

[2020-05-11 20:54] gunnerwholelife commented on #55
Hey, Any updates on this ?

[2020-05-13 19:23] jonquandt commented on #56
We're evaluating specific changes needed to the source documents to generate the end XML. Thanks for your patience on this and the other items.

We want to be careful that these changes to break something else.

[2020-07-03 04:21] TomSwift opened #60 "missing images"
At least the following two images are missing from the title-14 graphics bulk download hosted [here](https://www.govinfo.gov/bulkdata/ECFR/title-14):

er11de14.025.gif
er11de14.026.gif

They are available at the web urls identified in the Title 14 XML, but are not included in the graphics .zip file.

[2020-07-29 07:52] chrisbabayans opened #61 "URL Loads but curl outputs API_KEY_MISSING"
The API key used was made for this example.

When I open this URL in my browser, I see what I expect.

https://api.govinfo.gov/collections/CREC/2018-10-01T00:00:00Z?pageSize=10&offset=0&api_key=DEMO_KEY

The result below is when running the same URL with curl.

` curl https://api.govinfo.gov/collections/CREC/2018-10-01T00:00:00Z?pageSize=10&offset=0&api_key=DEMO_KEY
[1] 28962
[2] 28963
[2]+  Done

[2020-07-29 15:04] jonquandt commented on #61
updated the issue above to reference the DEMO_KEY. I was able to reproduce using that, and it would be preferable to not have an normal API key shown in the repo.

[2020-07-29 15:11] jonquandt commented on #61
@chrisbabayans  -- I have identified the issue. You need to enclose the address in your request in double quotes (`"`).

See this equivalent request:

[code]

if you do a curl -v with your original request, you can see that what gets sent to the server is the following:

GET /collections/CREC/2018-10-01T00:00:00Z?pageSize=10 HTTP/1.1

the `[1] 28962 [2] 28963 [2]+` in your ouput above indicates th

[2020-07-29 15:11] #61 closed

[2020-08-11 16:15] anuraggulati opened #62 "Where can I find the images mentioned in the appendix of New Title for 17 CFR Part 43?"
The federal register package FR-2020-04-17 has the text of the proposed part 43 rules (real time reporting)
But the appendix states -  [Please see PDF for image: EP17AP20.000]
[Please see PDF for image: EP17AP20.001] etc

Where are these images please?

[2020-08-11 18:04] jonquandt commented on #62
The relevant PDF is located here:
https://api.govinfo.gov/packages/FR-2020-04-17/granules/2020-04405/pdf?api_key=DEMO_KEY
[Direct link to page](https://api.govinfo.gov/packages/FR-2020-04-17/granules/2020-04405/pdf?api_key=DEMO_KEY#page=51)

One possible way to grab the images would be to look at Federalregister.gov, which takes govinfo FR XML and provides some additional enhancements.
here's the

[2020-08-11 18:06] anuraggulati commented on #62
Thank you kindly!
Believe the first link gives me the entire pdf.

I didn’t know federal register had an API of its own - that’s neat. I will
give that a go. Many thanks Jon!

On Tue, 11 Aug 2020 at 11:34 pm, Jon Quandt <notifications@github.com>
wrote:

[2020-08-11 18:10] anuraggulati commented on #62
PS:
Any chance the image (appendix C) is available in an xml table or an html
table or structured text perhaps and not an image?

You know, just the like the final version of part 43 (so not the proposed
rule, the rule that’s live, published in FR on 30 July 2013) has the
appendix data in a nice xml table.

Thanks!

On Tue, 11 Aug 2020 at 11:36 pm, Anurag Gulati <anuraggulati13@gmail.com>
wrote:

[2020-08-11 18:14] jonquandt commented on #62
Not that I am aware of.

[2020-08-11 18:16] anuraggulati commented on #62
Thank you Jon. Appreciate it.
I will try OCR'ing it using Amazon Textract, that comes with AWS - I see the federalgov link opened the .png on AWS so that could be a good and relatively straight-forward way of exposing data

[2020-08-11 18:27] anuraggulati commented on #62
Just tried OCR (AmazonTextract) on https://s3.amazonaws.com/images.federalregister.gov/EP17AP20.000/original.png?1586977513
The first three columns were great - but this didn;t work for other columns (with the vertical text and "tick marks")
Anyhow, this was helpful Jon.  I am happy for you to close the issue

Many thanks!

[2020-08-11 18:28] jonquandt commented on #62
If I recall correctly, the time between the proposed and final rule allows for the more complex typesetting needed to make those types of tables available (at least in some cases).

[2020-08-11 18:28] #62 closed

[2020-08-19 01:10] anuraggulati opened #63 "Rendering/Display issues using cfr.xsl"
1. Font changes from sans-serif family (Helvetica) to serif-family Times New Roman
1. The space between section and the title.

See screenshots.
<img width="1014" alt="Screenshot 2020-08-19 at 6 38 08 am" src="https://user-images.githubusercontent.com/4410614/90580571-da55b880-e1e6-11ea-8c20-2799e77e5c0d.png">
![Uploading Screenshot 2020-08-19 at 6.37.53 am.png…]()

[2020-08-28 04:37] crazydaisy925 opened #64 "README"

[2020-08-28 13:05] jonquandt commented on #64
Closing - no description

[2020-08-28 13:05] #64 closed

[2020-08-28 16:33] jonquandt commented on #63
Thanks for reporting this. We'll take a look at it. It appears that the space between the section number and the section title is intentional, though it is acting in a responsive manner, so the wider your window is, the wider the gap. That may not be ideal. The equivalent PDF has a gap as well, but the pdf is in a two column layout, which would force a smaller space.

See via the UI:
[Details](htt

[2020-08-28 16:52] anuraggulati commented on #63
Thanks Jon.
I do hope these findings are helpful.

I am happy to help test these should you need.

On Fri, 28 Aug 2020 at 10:04 pm, Jon Quandt <notifications@github.com>
wrote:

[2020-08-28 17:39] crazydaisy925 commented on #64
Waittt!!! I'm having such a tough time. Is it normal to have lib?

[2020-10-06 13:29] acmcneal opened #65 "Missing Bill Text"
US S 4762, Engrossed in Senate, just has a pdf text right now, no xml.

[2020-10-09 13:32] jonquandt commented on #65
Good morning, this Bill now has the associated xml.

https://www.govinfo.gov/bulkdata/BILLS/116/2/s/BILLS-116s4762es.xml

[2020-10-09 13:32] #65 closed

[2020-10-25 19:11] liwenyong887 opened #66 "联邦调查局"

[2020-10-28 14:06] jonquandt commented on #66
closing - there is no description.

[2020-10-28 14:06] #66 closed

[2020-11-03 11:52] ogtega opened #67 "Bulkdata crawling returns 406 error"
Is the 406 error I get when using python to crawl bulkdata JSON URLs intentional?

[2020-11-03 14:30] ogtega commented on #67
It seems this is due to Cloudflare not supporting dynamic content, I had to add `Accept: application/json` to my headers.

[2020-11-05 14:11] jonquandt commented on #67
@ogtega  - sorry for the delayed response. Yes, the Accept headers are required.  I'll make a note in the documentation.

[2020-11-05 14:11] #67 closed

[2020-11-24 23:32] liwenyong887 commented on #66
Hi

[2020-12-14 11:53] shehrozkhan88 opened #72 "https://github.com/usgpo/bulk-data/issues/56#issue-607761005"
https://github.com/usgpo/bulk-data/issues/56#issue-607761005

[2020-12-14 11:55] shehrozkhan88 opened #73 "https://github.com/usgpo/bulk-data/issues/57#issue-608420091"
https://github.com/usgpo/bulk-data/issues/57#issue-608420091

[2020-12-14 11:55] shehrozkhan88 commented on #73
https://github.com/usgpo/bulk-data/issues/57#issue-608420091

[2020-12-14 11:56] shehrozkhan88 commented on #73
https://github.com/usgpo/bulk-data/issues/57#issue-608420091

[2020-12-14 11:56] shehrozkhan88 commented on #73
https://github.com/usgpo/bulk-data/issues/57#issue-608420091

[2020-12-14 11:56] shehrozkhan88 commented on #73
https://github.com/usgpo/bulk-data/issues/57#issue-608420091

[2020-12-14 11:56] #73 closed

[2020-12-14 14:25] #72 closed

[2020-12-14 15:26] shehrozkhan88 commented on #72
#73

[2020-12-14 15:27] shehrozkhan88 opened #74 "Bulk"
#72 [Bulk](https://github.com/usgpo/bulk-data/issues/56#issue-607761005)

[2020-12-14 15:38] #74 closed

[2021-01-28 20:06] gunnerwholelife opened #77 "Missing titles in CFR 2020"
source - https://www.govinfo.gov/app/collection/cfr/2020/ OR https://www.govinfo.gov/bulkdata/CFR/2020

There are many missing titles in the latest CFR 2020 release.
Titles missing - 3, 30,31, 32, 33, 35, 36, 37, 38, 39

1. Any idea when these titles will be released ?
2. Is there a documentation on why some titles are missing in some years (In 2019 CFR release, title 35 was missing.)
3. And is it

[2021-02-10 03:55] jonquandt commented on #77
@gunnerwholelife  -- from https://www.govinfo.gov/help/cfr:

There is typically a delay between the revision date and the titles being made available. The revision date is essentially a cut-off point for the snapshot of the CFR volume for that year. More info on that can be found at https://www.govinfo.gov/help/cfr#faqs

A more timely view of the CFR is available through the eCFR bulkdata collecti

[2021-02-10 18:34] jonquandt commented on #77
Update:

1. CFR volumes are published after the revision and compilation of changes are completed. There is usually a delay of some weeks to months before this is complete, depending on the complexity of the revisions. I don't have any sense of when the titles you mentioned would be available at this time. **Note:** CFR Title 3 volume 1 was made available in August of 2020 -- https://api.govinfo.g

[2021-02-10 21:58] gunnerwholelife commented on #77
Thanks @jonquandt
This is very helpful.

I have follow up questions -
1. Under the bulk data -
   -- what's the difference between title-x-vol1.xml and say title-x-vol2.xml ? eg: https://www.govinfo.gov/bulkdata/CFR/2020/title-12

2. Are you working in collaboration with federalregister for ecfr api - https://ecfr.federalregister.gov/
   -- If yes, is there a github repository I can take look at ?

[2021-02-11 01:52] jonquandt commented on #77
@gunnerwholelife  -

1. CFR packages on govinfo are broken up into volumes, to match the tangible/printed version of the CFR.
2. I'm not specifically aware of a github repository for the ecfr.federalregister.gov API, Their interactive documentation is available here: https://ecfr.federalregister.gov/developers/documentation/api/v1.

You may wish to submit feedback for their API via the feedback bu

[2021-02-11 15:37] LahyanDjeh commented on #77
Okay I only created a Github accounts and still unable to integrate the
apps. I've just created the federal register account using the link u sent

On Thu, Feb 11, 2021, 00:58 gunnerwholelife <notifications@github.com>
wrote:

[2021-02-12 02:00] gunnerwholelife commented on #77
@jonquandt Thanks a ton ! Please close this issue as I have received the necessary info. I didn't close it myself as I was unsure of the above comment. :S
I also opened a new issue for the api repo [here](https://github.com/usgpo/api/issues/78)
Would appreciate your feedback there.

[2021-02-12 02:46] jonquandt commented on #77
@LahyanDjeh  - I am closing this issue. Can you open a separate issue with more details if you need assistance?

Thanks!

[2021-02-12 02:46] #77 closed

[2021-02-12 09:23] LahyanDjeh commented on #77
Thank you so much. Thank you. How and where through which app on my website
can I use on managing my searches and bookmarking , saving and maybe share
likes

On Fri, Feb 12, 2021, 05:47 Jon Quandt <notifications@github.com> wrote:

[2021-05-13 19:18] patphongs opened #82 "Availability of 2021 CFR title 11"
At the FEC, we are wondering when the 2021 CFR title 11 will be available to download from your [bulk data resources](https://www.govinfo.gov/bulkdata/CFR).

[2021-05-13 20:14] jonquandt commented on #82
Unfortunately, I don't have any specific timeline information on the availability of 2021 CFR volumes.

The CFR XML on our [bulkdata repository](https://www.govinfo.gov/bulkdata/CFR) is updated annually, in four major groups.

Per our [help documentation](https://www.govinfo.gov/help/cfr#about)

Note that there is a delay between the "revised of" dates and the availability on the govinfo bulkdata

[2021-05-20 05:38] ThomasShafron opened #83 "CFR10 Missing images"
Hello,
my name is Tom. My current task at work involves me using the information provided by this page: https://www.govinfo.gov/bulkdata/ECFR/title-10
to generate an html version of the title 10 case.

I have noticed that there are quite a few missing images that are being referenced by the XML document which are not contained in the zip file of images that accompanies the xml.

An example of a fe

[2021-05-20 11:45] jonquandt commented on #83
@ThomasShafron can you confirm that you’re not seeing the images in the accompanying graphics zip file?

https://www.govinfo.gov/bulkdata/ECFR/title-10/ECFR-title10-graphics.zip

[2021-05-20 19:46] Hoove391 commented on #83
No updates are being made

On Thu, May 20, 2021, 6:46 AM Jon Quandt ***@***.***> wrote:

[2021-05-20 23:07] ThomasShafron commented on #83
@jonquandt thanks for responding. That is correct.

Some images that I see are referenced by the XML but don't exist in https://www.govinfo.gov/bulkdata/ECFR/title-10/ECFR-title10-graphics.zip are all images which have prefix er05ja17. For example:
- er05ja17.004.gif
- er05ja17.005.gif
- er05ja17.006.gif

[2021-05-20 23:21] Hoove391 commented on #83
They are not visual but I can see some

On Thu, May 20, 2021, 6:07 PM ThomasShafron ***@***.***>
wrote:

[2021-05-24 12:35] jonquandt commented on #83
We're in the process of reconciling the graphics with the XML across all titles. I hope to have an update soon on when an updated title 10 is available.

[2021-05-24 22:50] ThomasShafron commented on #83
Great! Thanks for looking into it :) I look forward to your update

[2021-05-25 13:14] jonquandt commented on #83
@ThomasShafron  -- actually, it appears that the graphics have been updated for title 10, as well as 16 other titles.

https://api.govinfo.gov/collections/ECFR/2021-05-21T20:15:00Z?pageSize=50&offset=0&api_key=DEMO_KEY

I verified that the graphics folder has the additional graphics that you listed above, as well as others that were previously missing. Please review and let me know if you have any

[2021-05-27 01:31] ThomasShafron commented on #83
Great. Just confirmed that all the images now exist in that zip. Thanks for your help :)

[2021-05-27 01:31] #83 closed, assigned to jonquandt

[2021-06-09 14:42] acmcneal opened #85 "S 1260 missing bill actions"
Bill actions from yesterday's Senate session are not reflected here https://www.govinfo.gov/bulkdata/BILLSTATUS/117/s/BILLSTATUS-117s1260.xml

[2021-06-09 18:30] #85 closed, assigned to nobody

[2021-06-09 18:30] acmcneal commented on #85
resolved.

[2021-07-06 14:48] patphongs commented on #82
Hello again @jonquandt, the FEC depends on the [bulk data XML](https://www.govinfo.gov/bulkdata/CFR) for title 11 provided by GPO in order to update our [regulations application](https://www.fec.gov/regulations). The previous years, the bulk data was available in May. I know that you had said it would be late this year. Now that it's July, I was wondering if you have an update on when we can expec

[2021-07-06 15:05] llaplant commented on #82
Hi, unfortunately we don't have an update date yet. You may want to visit
https://www.gpo.gov/how-to-work-with-us/agency/services-for-agencies/ofr-publishing-services under the "CFR Schedule" header for information about anticipated delivery dates for CFR Titles. Dates for the 2021 edition will be posted here when information becomes available.

[2021-08-20 14:03] shekita88 opened #86 "HatxherFamily1st"

[2021-08-20 15:29] jonquandt commented on #86
Closing as this issue has no description.

[2021-08-20 15:29] #86 closed, assigned to nobody

[2021-08-21 04:32] LGNDDOLLABOUTIQUE opened #87 "Create Issue"

[2021-08-24 12:11] #87 closed, assigned to nobody

[2021-09-09 18:26] DaGenix opened #90 "Text for HR 3241"
I'm expecting to find the text of HR 3241 from the 117th congress here: https://www.govinfo.gov/bulkdata/BILLS/117/1/hr/BILLS-117hr3241ih.xml. However, that file doesn't seem to exist and I can't find it in the bulk data .zip file either. Curious if that was the right place to look and/or if it missing for some reason. Thanks!

[2021-09-09 18:54] llaplant commented on #90
H.R. 3241 is a "codification measure." At this time, codification measures are not available in XML. The XML is not be expected to be available from govinfo or Congress.gov, but text and PDF formats along with XML metadata is available at https://www.govinfo.gov/app/details/BILLS-117hr3241ih. Information about known data anomalies can be found at https://www.congress.gov/help/data-anomalies.

[2021-09-09 18:58] DaGenix commented on #90
Ah, cool, thanks so much for your assistance!

[2021-09-09 19:04] #90 closed, assigned to nobody

[2021-09-13 16:27] patphongs commented on #82
It's available now and we've reloaded our regs. Closing this issue, thanks!

[2021-09-13 16:27] #82 closed, assigned to jonquandt

[2021-09-24 19:59] acmcneal opened #91 "Bill Text missing XML's"
Starting on 9/4 several bill text files on congress.gov are missing XML's - will XML versions be added?

[2021-09-24 20:03] jonquandt commented on #91
Good afternoon -- if you could provide a list of the ones that you see as missing XML files, we can look into it.

[2021-09-24 20:07] acmcneal commented on #91
there are over 300 - most bills since 9/4. For example HR5186

[2021-09-24 20:54] jonquandt commented on #91
It seems that there may be an issue on the congress.gov side. I will reach out to them to investigate.

I see that HR5186 is available via the govinfo bulkdata repository here:
https://www.govinfo.gov/bulkdata/BILLS/117/1/hr/BILLS-117hr5186ih.xml

Also via our API:
https://api.govinfo.gov/packages/BILLS-117hr5186ih/summary?api_key=DEMO_KEY
https://api.govinfo.gov/packages/BILLS-117hr5186ih/xml?api

[2021-09-27 13:42] acmcneal commented on #91
It looks like the issue was resolved and XMLs are being delivered as of Saturday morning - none of been backfilled at this point though, is congress.gov planning to backfill the missing text starting from 9/4?

[2021-12-02 19:21] cmenard9 opened #93 "Bill Digest Missing"
https://www.govinfo.gov/bulkdata/BILLSTATUS/117/hr

There has not been any bill information listed in December at Gov info. There were many introduced that i can see at congress.gov https://www.congress.gov/search?q=%7B%22source%22%3A%22legislation%22%7D

Could someone please look into why govinfo does not have any information past 11/30/2021 at the above link.

Thank you

[2021-12-02 19:34] llaplant commented on #93
Please see https://github.com/usgpo/bill-status/issues/185. We hope to have service restored on Friday.

[2021-12-02 19:38] cmenard9 commented on #93
Thank you!

[2021-12-13 14:14] cmenard9 commented on #91
There are still missing XMLs particularly HR3239, HR3241, HR5677, HR5679, HR5705, HR5718,

[2021-12-13 15:04] llaplant commented on #91
@cmenard9,

H.R. 3239, H.R. 3241, H.R. 5677, H.R. 5679, H.R. 5695, and H.R. 5705 are codification measures, and due to the drafting process, XML is not available for codification measures.

H.R. 5718 IH is also not available in XML.

More information about data anomalies is available at https://www.congress.gov/help/data-anomalies.

[2022-01-12 00:47] aquabox opened #94 "Vol 1 and 2 Missing from the 2021 19 CFR"
Trying to download the XML for the 2021 version of 19 CFR but only volume 3 is present.  Can Volumes 1 and 2 be made available?

[2022-01-13 15:07] llaplant commented on #94
Checking with other areas in GPO for estimate of when volumes 1 and 2 will be published and then submitted to govinfo.

[2022-01-13 15:08] llaplant commented on #93
Closing issue because service was restored.

[2022-01-13 15:08] #93 closed, assigned to nobody

[2022-01-13 15:09] llaplant commented on #91
Closing but can re-open if needed.

[2022-01-13 15:09] #91 closed, assigned to jonquandt

[2022-02-04 18:58] LonelySpaceman opened #95 "Incomplete XML for H.R. 5376"
Looking into the XML file for H.R. 5376 of the 117th congress, the tags that should contain the header data for SEC. 20001(c)(4) is completely missing. This is the only instance of missing formatting data that I've found in the database, so I don't know if this is a larger issue, but it might be worth investigating.

The missing tags should be:
`<paragraph id="some ID"><enum>(4)</enum><header>Rebu

[2022-02-09 17:55] llaplant commented on #95
Hi, which version of the bill are you accessing? For example, the version below is the RH (Reported in House) version.

https://www.govinfo.gov/content/pkg/BILLS-117hr5376rh/xml/BILLS-117hr5376rh.xml

[2022-02-09 18:32] LonelySpaceman commented on #95
I'm also looking at the RH version of the bill. I just realized I'm using the FDSys API to retrieve the XML data because it automatically retrieves the most recent version of the bill. This might be a question more up the alley of the folks behind FDSys rather than y'all. If you still want to look into it, the API link I'm retrieving the XML Data from is:

https://api.fdsys.gov/link?collection=bil

[2022-02-09 19:46] jonquandt commented on #95
@LonelySpaceman  --

Hi -- govinfo replaced the FDsys site a few years ago, and the fdsys link service links you're using have been redirected to govinfo equivalents. The same team that developed the FDsys site is operating the govinfo site

Thank you for pointing out the potential issue with the data. We'll take a look at that.

I have two potential suggestions for accessing govinfo data programm

[2022-02-09 20:19] LonelySpaceman commented on #95
This is awesome guys, thanks so much for responding so quickly. How far back does the govInfo xml database go? I know that FDsys only went back to the 113th congress.

[2022-02-09 20:31] LonelySpaceman commented on #95
Also, I switched over my program to using the govInfo link service to retrieve the xml and it's working perfectly, but I did find another missing header in the same bill. The header for Section 70807(c) "imposition of fee" is also missing.

[2022-02-09 20:49] jonquandt commented on #95
The [govinfo bulkdata repository ](https://www.govinfo.gov/bulkdata/)  can show you the coverage of the different collections in bulk xml.

We have XML versions of Congressional Bill text from the 113th Congress on, including versions of the bill text in [USLM](https://www.govinfo.gov/bulkdata/BILLS/uslm) -- for more information on that format, see the [uslm repo](https://www.github.com/usgpo/uslm

[2022-02-09 23:25] llaplant commented on #95
@LonelySpaceman is this the header?
![image](https://user-images.githubusercontent.com/11219688/153307338-df6b668b-39c6-4cdb-b1b0-e26e656f3f83.png)

It is also in the PDF at the bottom of page 60.
![image](https://user-images.githubusercontent.com/11219688/153307469-9077c8ea-fb24-4fc7-bf3a-5e3fb0d71017.png)

https://www.govinfo.gov/content/pkg/BILLS-117hr5376rh/pdf/BILLS-117hr5376rh.pdf

[2022-02-09 23:33] LonelySpaceman commented on #95
Yeah, I double-checked the xml and _both_ of the tags I thought were missing are actually there. It's a problem with my code, not the database. So sorry y'all, thanks for all of your help!

[2022-02-09 23:33] #95 closed, assigned to llaplant

[2022-02-18 22:50] llaplant commented on #94
Volumes 1 and 2 are now available.
https://www.govinfo.gov/bulkdata/CFR/2021/title-19

[2022-04-12 01:32] bwnwtg opened #96 "formatting indentation for clauses"
Hi, I'm looking at [ECFR-title19.xml](https://www.govinfo.gov/bulkdata/ECFR/title-19/ECFR-title19.xml) and noticed some issues for the formatting

at `<DIV8 N="§ 4.7" NODE="19:1.0.1.1.3.0.1.9" TYPE="SECTION">`, there are numbered sub-clauses lumped into the `<P>` for the alphabetical clause (line breaks are mine):

[code]

and in places where there is some formatting, the alphabetical clause is mi

[2022-04-13 13:27] jonquandt commented on #96
Looking into this.

[2022-04-28 10:03] kevin-george-ul opened #101 "Annual Edition of CFR not updated since 1st July, latest published title is 2021 41 CFR"
Looking at https://www.govinfo.gov/app/collection/cfr

There is no published content for 2022
![image](https://user-images.githubusercontent.com/91074239/165728740-a7d533a0-d4a2-46c1-8c6d-29be3f69f758.png)

Similarly, for 2021 the last update was CFR 41

![image](https://user-images.githubusercontent.com/91074239/165728909-a7c7999f-140c-47a7-97f3-d31acd4f148f.png)

[2022-04-28 10:05] kevin-george-ul commented on #101
Trying, `PacakageId : CFR-2022-title1-vol1` and `GranuleId : CFR-2022-title1-vol1` in the following URL `https://www.govinfo.gov/content/pkg/CFR-2022-title1-vol1/xml/CFR-2022-title1-vol1.xml` results in error

[2022-04-28 10:27] kevin-george-ul commented on #101
A filtered list of all `PackageId`'s for the year 2021 (in JSON) is available in this gist

https://gist.github.com/kevin-george-ul/8b3e9528ecfcc6b54713837e24c39d00#file-2021-packages-json

[2022-05-04 14:09] llaplant opened #102 "We're Hiring!"
GPO’s office of Programs, Strategy, and Technology is hiring recent graduates. Be part of the high-performing team that is responsible for transformational technology initiatives such as GPO’s ISO-certified Trustworthy Digital Repository, govinfo; GPO’s new XML-based composition system, XPub; and the emerging XML schema for legislative and regulatory publications, USLM. See https://www.usajobs.gov

[2022-05-18 20:32] balldarrens commented on #96
I second this - and I am curious as to why there is only XML for full data.  Why not json as well?  ecfr.org has an api endpoint for full XML but not JSON?

Is bulkdata available in JSON, with correct object level that reflect indentation paths?

For example I am looking at: https://www.govinfo.gov/bulkdata/CFR/2021/title-40/CFR-2021-title40-vol29.xml
Specifically section 268.3

The lists here hav

[2022-05-19 14:09] jonquandt commented on #96
@bwnwtg - I apologize for the delay in getting back to you.

This is intentional. Please see the [ECFR XML user guide - section 2.4](https://www.govinfo.gov/bulkdata/ECFR/resources/ECFR-XML-User-Guide.pdf#page=13):

[code]

GPO has a major initiative, called [XPub](https://github.com/usgpo/xpub/), to natively compose more documents in XML. As we move additional documents, such as the Federal Regis

[2022-05-19 14:10] jonquandt commented on #96
@balldarrens

The [govinfo bulkdata repository](https://www.govinfo.gov/bulkdata) currently provides XML content, not JSON. At this time, there are no specific plans for us to directly provide JSON equivalents to the existing XML bulk data content for the ECFR. As more of our content is composed natively in XML via XPub, there could be an effort to provide a transform into JSON if there is suffici

[2022-05-28 19:39] abannsunny opened #103 "Ecfr 121.1 The United States Munitions List. Category XIII - Materials and Miscellaneous Articles - (f) ordered list indentation is not formatted right"
Category  XIII sub section (f) for USML ordered list indentation is not formatted correctly.

The ordered lists usually follow this format
[code]
But for
<HD1>Category XIII - Materials and Miscellaneous Articles </HD1>
<P>* (f) Any article enumerated in this category that (MT for those articles designated as such): </P>

This is the ordered list formatting:

		<P>* (f) Any article enumerated in th

[2022-06-16 03:11] lkp80877984 opened #104 "lower image quality in bulkdata"
Hi!

The bulk data .zip contains compressed .gif images that appear to be of a lower quality than the .png images exposed on ecfr.gov. Some formulas/maps/images become quite difficult to read. Do you have a .zip available with the higher quality .png images?

Consider, for example:
https://www.ecfr.gov/current/title-50/chapter-I/subchapter-B/part-17/subpart-D/section-17.40
<zip>/ec01jn91.000.gif

[2022-06-27 16:50] johnmwaura08 commented on #103
Any feedback on this issue? @jonquandt

[2022-09-09 14:17] #102 closed, assigned to nobody

[2022-10-06 19:18] danieldjewell opened #107 "Supreme Court Decisions - FLITE DB - Data Missing"
Hello US GPO Team!

It appears that Supreme Court Opinions data for years other than 1937 is missing from the bulk data repository (https://www.govinfo.gov/bulkdata/SCD) ...

Given that SCOTUS's own links to this data are broken (https://www.supremecourt.gov/opinions/obtainopinions.aspx linking to FDsys and http://supcourt.ntis.gov), it doesn't appear that this is available anywhere else...

Thank

[2022-10-06 21:29] Firmanfoc94 opened #108 "Rumus"
![IMG_20220923_000725_438](https://user-images.githubusercontent.com/113333620/194422088-972f9623-b625-44e8-8f0d-3290b59adbcc.jpg)

[2022-10-06 21:31] Firmanfoc94 commented on #107
Vote

[2022-10-06 22:41] #108 closed, assigned to nobody

[2022-10-06 22:42] jonquandt commented on #108
Closing as not related to the repository.

[2022-10-17 16:05] avalatea opened #109 "Extra action on 117 S 1048"
Hi! It looks like there are some extra actions for the above noted [bill](https://www.govinfo.gov/bulkdata/BILLSTATUS/117/s/BILLSTATUS-117s1048.xml).

<img width="1280" alt="Screen Shot 2022-10-17 at 8 28 35 AM" src="https://user-images.githubusercontent.com/107426303/196227028-cf381d4c-7c0b-4d55-90d8-c82567408d2a.png">

This action is neither shown [here](https://www.congress.gov/bill/117th-congr

[2022-10-19 18:47] jonquandt commented on #109
Good afternoon,

Please take another look - we regenerated the file from the source and I am no longer seeing those extra actions.

[2022-10-20 18:12] avalatea commented on #109
Yes this has been fixed! Thank you!

[2022-11-01 23:06] Muhammad4599 opened #110 "https://fb.gg/play/street_parkour/d/1656043601464555/"

[2022-11-01 23:09] llaplant commented on #110
Closing. Not related to repository.

[2022-11-01 23:10] #110 closed

[2022-11-04 16:41] #109 closed, assigned to jonquandt

[2022-11-04 16:43] avalatea opened #111 "Missing HR 3241"
Hi y'all! Thank you so much for the great help last time.

I'm here to ask about HR3241, which I cannot find from this [Bulk Data list](https://www.govinfo.gov/bulkdata/BILLS/117/1/hr). But according to Congress, [it does exist](https://www.congress.gov/bill/117th-congress/house-bill/3241). Is there a reason it's not part of the bulk data?

[2022-11-15 17:59] llaplant commented on #111
H.R. 3241 is a codification measure for the U.S. Code. It is available in text and PDF formats, but it is not available in XML. https://www.govinfo.gov/app/details/BILLS-117hr3241ih/summary. For reference, Congress.gov maintains a list of data anomalies https://www.congress.gov/help/data-anomalies.